<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euclidian Foods</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer></script>
   <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
    
        <div id="buttongrid">
        <select id="appetizers" v-model="selectedAppetizer" @change="updateSelectedFood('Appetizers'); generatePieSVG(selectedMeal.protein, selectedMeal.sugar, selectedMeal.carbs)">
            <option value="" disabled selected hidden>Appetizers</option>
            <option v-for="food in filteredAppetizers" :value="food.meal">{{ food.meal }}</option>
          </select>
      
          <select id="mainCourse" v-model="selectedMainCourse" @change="updateSelectedFood('Main Courses'); generatePieSVG(selectedMeal.protein, selectedMeal.sugar, selectedMeal.carbs)">
            <option value="" disabled selected hidden>Main Course</option>
            <option v-for="food in filteredMainCourses" :value="food.meal">{{ food.meal }}</option>
          </select>
      
          <select id="dessert" v-model="selectedDessert" @change="updateSelectedFood('Desserts'); generatePieSVG(selectedMeal.protein, selectedMeal.sugar, selectedMeal.carbs)">
            <option value="" disabled selected hidden>Dessert</option>
            <option v-for="food in filteredDesserts" :value="food.meal">{{ food.meal }}</option>
          </select>
        </div>
    
        <main>
           
            <div v-if="selectedMeal">
                <p>Selected: {{selectedMeal.meal}}</p>
                <p>Fact: {{ selectedMeal.description }}</p>
                <p class="protein">Protein: {{ selectedMeal.protein }}g</p> 
                <p class="sugar">Sugar: {{ selectedMeal.sugar }}g</p> 
                <p class="carbs">Carbs: {{ selectedMeal.carbs }}g</p>
            </div>
            
          </main>
          
          <div><img id="sadeuc" src="pictures/sadeuc.webp" alt="Euclidian ☹"></div>
          
        </div>
      </body>

</html>