<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Euclidian Foods</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js" defer></script>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <section id="h1-section">
      <div id="h1-box">
        <h1>{{ title }}</h1>

      </div>

    </section>

    <div id="buttongrid">
      <select id="appetizers" v-model="selectedAppetizer" @change="updateSelectedFood('Appetizers'); generatePieSVG()">
        <option value="" disabled selected hidden>Appetizers</option>
        <option v-for="food in filteredAppetizers" :value="food.meal">{{ food.meal }}</option>
      </select>

      <select id="mainCourse" v-model="selectedMainCourse" @change="updateSelectedFood('Main Courses'); generatePieSVG()">
        <option value="" disabled selected hidden>Main Course</option>
        <option v-for="food in filteredMainCourses" :value="food.meal">{{ food.meal }}</option>
      </select>

      <select id="dessert" v-model="selectedDessert" @change="updateSelectedFood('Desserts'); generatePieSVG()">
        <option value="" disabled selected hidden>Dessert</option>
        <option v-for="food in filteredDesserts" :value="food.meal">{{ food.meal }}</option>
      </select>
    </div>


    <main class="mainsection-grid">
      
      <ul v-if="selectedMeal" class="factList">
        <li><strong>Selected</strong>: {{ selectedMeal.meal }}</li>
        <li><strong>Description</strong>: {{ selectedMeal.description }}</li>
      
      </ul>

      <div v-if="selectedMeal" class="nutrients" >

        <div>
          <section v-show="hasPlannedMeals" id="foodList">
            <ul id="mealNames" >
              <li v-for="meal in plannedMeals" :key="meal.name">
                <button><h2 @click="toggleMealList(meal); ">{{ meal.name }}</h2></button>
                <ul class="foodListinfo" v-if="meal.isOpen">
                  <li v-for="food in meal.meals">{{ food }}</li>
                  <li>
                    <p class="combinedProtein">Protein:{{ combinedData.protein }}</p>
                    <p class="combinedSugar">Sugar:{{ combinedData.sugar }}</p>
                    <p class="combinedCarbs">Carbs:{{ combinedData.carbs }}</p>
                  </li>
                  <li id="combinedPieChart"> 
              </li> 
              
                  <li><button @click="printPie(); combinedOnOpenPieSVG; ">Generate Pie here!</button></li>
                 
                  <button @click ="resetPlannedMeals()" id="resetbutton">reset</button>
                  
                </ul>
             
              </li>
            </ul>
            
          </section>
        </div>
        
        
        <ul id="nutrientsandsvg">
          <li class="selectedProtein">Protein: {{ selectedMeal.protein }}g</li>
          <li class="selectedSugar">Sugar: {{ selectedMeal.sugar }}g</li>
          <li class="selectedCarbs">Carbs: {{ selectedMeal.carbs }}g</li>
        </ul>
        
        <button @click="addMealToList;" id="submitButton">Add: <strong>{{ selectedMeal.meal }}</strong> to list</button>
        

      </div>


      <div id="euclidPictures">
        <img id="sadeuc" src="pictures/sadeuc.webp" alt="Euclidian ☹" :style="{ opacity: isOptionSelected ? 0 : 1 }" />
        <img id="happyeuc" src="pictures/happyeuc.jpg" alt="Euclidian Happyman"
          :style="{ opacity: isOptionSelected ? 1 : 0 }" />
      </div>

    </main>

  </div>
</body>

</html>
