* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;}

#h1-section{
    background-color: rgba(0, 255, 136, 0.164);
    /* margin: 0 auto; */
    display: flex;
    justify-content: center; /* center flex items horizontally, in this case */
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    height: 100px
}
#h1-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */
    width: 350px;
    height: 70px;
    border-top: 1px solid rgba(0, 0, 0, 0.387);
    border-bottom: 1px solid rgba(0, 0, 0, 0.387);

}
h1{
    display: flex;
    font-size: 45px;
    align-self: center;
    text-decoration:  overline ;
    text-decoration-thickness: 2px; 
    text-decoration-color: rgb(0, 255, 136);
}


#app .protein {
    color: #ff6384; 
}

#app .sugar {
    color: #36a2eb;
}

#app .carbs {
    color: #ffce56; 
}
#buttongrid{
    padding-top: 30px;
    gap: 20px;
    display: grid;
    align-content: center;
    margin: 0 auto;
    max-width: 400px;
    grid-template-columns: repeat(3, 1fr) 
    
}
#buttongrid >select {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    min-height: 30px;
    min-width: 120px;
    border-radius: 10px;
    white-space: wrap; 
    width: 90%;
    padding: 5px;
    text-overflow: ellipsis;
    justify-self: center;
}

#appetizers, #mainCourse, #dessert {
    text-align: center;

}

li{
    list-style: none;
}

.mainsection-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.factList{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 17.5px;
    border:solid 1px;
    border-radius: 2px;
    width: fit-content;
    padding: 20px;

    
}
.nutrients {
   margin-top: 17.5px;
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.nutrients svg {
    justify-self: flex-start;
    margin-left: 10px;
    justify-content: top;
    
}
.nutrients ul{
    display: flex;  
    margin-right: 30px;
    padding: 15px;
    border:solid 1px;
    border-radius: 2px;
    justify-self: flex-end;
    align-self: center;
    flex-direction: column;
    height: fit-content;

}
.nutrients li {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* text-align: center; */
    line-height: 30px;
}

#euclidPictures {
    display: flex;
    justify-content: center;
}

#euclidPictures img {
    width: 300px; 
    height: auto; 
    margin-top: 17.5px;
    position: absolute;
    opacity: 1; 
    transition: opacity 10s;
}
@media screen and (max-width: 450px){

    #buttongrid{
        max-width: 280px;
        grid-template-columns: repeat(1, 1fr) 
    }

   #sadeuc,#happyeuc{
    
    max-width: 250px;
    
    
   }

}