* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(251, 246, 240);
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;}

#h1-section{
    background-color: rgba(104, 253, 184, 0.164);
    /* margin: 0 auto; */
    display: flex;
    justify-content: center; /* center flex items horizontally, in this case */
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    height: 100px
}
#h1-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */
    width: 350px;
    height: 70px;
    border-top: 1px solid rgba(0, 0, 0, 0.387);
    border-bottom: 1px solid rgba(0, 0, 0, 0.387);

}
h1{
    
    display: flex;
    font-size: 45px;
    align-self: center;
    text-decoration:  overline ;
    text-decoration-thickness: 2px; 
    text-decoration-color: rgb(0, 255, 136);
}


 .protein {
    color: #ff6384; 
    text-decoration: underline;
    text-decoration-color:rgb(0, 255, 136);
    font-weight: bold;
}

 .sugar {
    color: #36a2eb;
    text-decoration: underline;
    text-decoration-color:rgb(0, 255, 136);
    font-weight: bold;
}

 .carbs {
    color: #ffce56; 
    text-decoration: underline;
    text-decoration-color:rgb(0, 255, 136);
    font-weight: bold;
}

#buttongrid{
    padding-top: 30px;
    gap: 20px;
    display: grid;
    align-content: center;
    margin: 0 auto;
    max-width: 400px;
    grid-template-columns: repeat(3, 1fr) 
    
}
#buttongrid >select {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    min-height: 57px;
    min-width: 120px;
    border-radius: 10px;
    white-space: wrap; 
    width: 100%;
    padding: 5px;
    text-overflow: ellipsis;
    justify-self: center;
}

#appetizers, #mainCourse, #dessert {
    text-align: center;

}

li{
    list-style: none;
}

.mainsection-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}
.factList{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 17.5px;
    border:solid 1px;
    border-radius: 2px;
    max-width: 315px;
    padding: 20px;
    background-color: rgba(104, 253, 184, 0.164);

}

.nutrients {
    
   margin-top: 17.5px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 0.6fr 1fr;
    gap: 30px;

}
/* .nutrients svg {
    justify-self: flex-start;
    margin-left: 10px;
    justify-content: top;
    
} */
/* .nutrients ul{
     display: flex;  
    padding: 15px;
    border:solid 1px;
    border-radius: 2px;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    height: fit-content; 

}
*/
#foodList{
    display: flex;
    justify-content: end;
}

  

#mealNames{
    
    display: flex;  
    padding: 30px;
   justify-self: end;
    border:solid 1px;
    border-radius: 2px;
    flex-direction: column;
    background-color: rgba(104, 253, 184, 0.164);
}
.nutrients li {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    line-height: 30px;
}
#nutrientsandsvg{
    display: flex;  
    padding: 15px;
    border:solid 1px;
    border-radius: 2px;
    align-items: center;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    height: fit-content;
    width: 250px;
    background-color: rgba(104, 253, 184, 0.164);

}
#submitButton{
    border-radius: 2px;
    border:solid 1px black;
    align-self: flex-end;
    
    padding: 15px;
    width: fit-content;
    height: fit-content;
}
#euclidPictures {
    display: flex;
    justify-content: center;
}

#euclidPictures img {
    width: 300px; 
    height: auto; 
    margin-top: 17.5px;
    position: absolute;
    opacity: 1; 
    transition: opacity 10s;
}
@media screen and (max-width: 665px){
    
    #buttongrid{
        max-width: 280px;
        grid-template-columns: repeat(1, 1fr) 
    }
    #foodList{
        justify-content: center;
    }
    #nutrientsandsvg{
        grid-row: 1;
    }
    .nutrients{
        gap: 10px;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;

    }
    #submitButton{
        grid-row: 2;
        justify-self: center;
        
    }
   #sadeuc,#happyeuc{
    
    max-width: 250px;
    
    
   }

}